
.config/Bitwarden/

.config/.gsd-keyboard.settings-ported

.config/dconf/

.config/enchant/

.config/environment.d/

.config/evolution/sources/

.config/github-copilot/

.config/GitKraken/

.config/gnome-initial-setup-done

.config/mimeapps.list

.config/monitors.xml

.config/obsidian/

.config/user-dirs.dirs

.config/user-dirs.locale
